body, html {
  padding:0;
  margin:0;
  font-family: sans-serif;
  color: white;
}

li {
  float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 20px 144px;
  overflow: hidden;
  background-color: #1a1a1a;
  width: 100%;
}
.logo {
  width: 106px;
  height: 89px;
  position: absolute;
  margin-top: -10px;
  margin-left: 19px;
}
nav {
  display: flex;
  width: 100%;
  height: 66px;
  background: black;
  overflow: auto;
}
.active {
  background-color: #fa0a01;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 45px 50px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(0, 255, 0);
 
}

:root {
  --primary-color: yellow;
  --secondary-color: pink;
  --complimentary-color: rgba(0, 0, 0, 0.363);
}

.container {
  min-height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  background-color: var(--complimentary-color);
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 150px;
  color: var(--primary-color);
  transform: translateY(-600px);
  animation: 1.2s slideIn ease-in-out forwards 1s;
  z-index: 10;
  opacity: 0;
  position: relative;
}

h1::before {
    content: '';
    width: 0%;
    height: 76px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -10px;
    animation: 1s underline ease-in-out forwards 2s;
    mix-blend-mode: screen;
}

.overlayer {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    transform: scale(.5);
    animation: .5s slideIn ease-in-out forwards, 1s skewBg ease-in-out;
}

@keyframes skewBg {
  0% {
    transform: scale(.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes underline {
  100% {
    width: 100%;
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

* {box-sizing: border-box}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.column {
  float: left;
  width: 200px;
  padding: 3px;
}

.row{
  padding-left: 50px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.button1{
border: none;
outline: 1px;
display: inline-block;
padding: 10px 25px;
color: white;
background-color: maroon;
text-align: center;
cursor: pointer;
margin-left: 85%;
margin-top: 10px;
}

.button1:hover{
background-color: lemonchiffon;
color:black;
}

.column:hover img{
  opacity: 0.5;
}

.all{
  margin-top: 100px;
}


.footer{
  width: 100%;
  height: 200px;
  background-color: rgb(71, 71, 70);
  margin: 0 0 0 0;
  opacity: 50%;
  padding-bottom: 100px;
  position: absolute;
}

.logobox{
  /* background-color: yellow; */
  width: 149px;
  height: 60px;
  margin: 0 20px -22px 45%;
  position: absolute;
}

.socialmedia{
  position: absolute;
  margin: 10% 0 0 39%;
  /* background-color: yellow; */
  width: 316px;
  height: 44px;
}
