li {
  float: left;
}
li a:hover:not(.active) {
  background-color: #fa0a01;
 
}
  
  .active {
    background-color: #fa0a01;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 45px 50px;
    text-decoration: none;
}
  
  nav {
    display: flex;
    width: 100%;
    height: 66px;
    background: black;
    overflow: auto;
}
.logo {
  width: 106px;
  height: 89px;
  position: absolute;
  margin-top: -10px;
  margin-left: 19px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 20px 144px;
  overflow: hidden;
  background-color: #1a1a1a;
  width: 100%;
}
.background{
  background-image: url("assets/img/background.jpg");
  height: 100%;
}
.topic{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.word{
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -30px;
}
.containner {
    display: flex;
    width: 260px;
    height: 20px;
    align-items: center;
  }
  
  .edge{
    flex-grow: 2;
    height: 1px;
    margin:2px 10px;
    background-color: #000;
    border: 1px #000 solid;
    
  }
  .login {
    flex-basis: auto;
    flex-grow: 0;
    margin: 0px 5px 0px 5px;
    text-align: center;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .loginpic 
  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  input[type=text], input[type=password] {
    width: 470px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
  }

  button {
  background-color: #fa0a01;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 12%;
    padding-top: 7px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 20px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  
  .container {
    padding: 16px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  }
  .ch1{
    font-size: 15px;
  }
  .ch
  span.psw {
    float: right;
    padding-top: 16px;
  }
  span.psw {
    display: block;
    float: none;
 }

 .containner2 {
    display: flex;
    width: 660px;
    height: 20px;
    align-items: center;
  }
  
  .edge2{
    flex-grow: 2;
    height: 1px;
    margin:2px 10px;
    background-color: #000;
    border: 1px #000 solid;
  }
  .word2{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 40px;
  border-radius: 50%;
}

.facebook:hover {
    opacity:0.4;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
a{
  color:rgb(0, 0, 0);
  text-decoration: blink;
}
a:hover{
  color: skyblue;
}
.container2{
  text-indent: 200px;
  margin-right: 180px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fa0a01;
}
.check{
  padding-right:210px ;
  font-size: 15px;

}
.word3{
  padding-top: 90px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.word3 a{
  color: #fa0a01;
}
.word3 a:hover{
  color: aqua;
}
div.transbox {
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: -80px;
  padding-top: 80px;
  padding-bottom: 80px;
  width: auto;
  height: auto;
  background: rgba(94, 91, 91, 0.5);
}
.footer{
  width: 100%;
  height: 10px;
  background-color: rgb(71, 71, 70);
  margin-top: 150px;
  margin-left:-205px;
  opacity: 50%;
  padding-bottom: 217px;
  position: absolute;
}

.logobox{
  width: 149px;
  height: 60px;
  margin: 170px 20px 22px 380px;
  position: absolute;
}


.socialmedia{
  position: absolute;
  margin: 310px 0 10px 315px;
  width: 316px;
  height: 44px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}