*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: black;
}

.logo{
  width: 106px;
  height: 89px;
  position: absolute;
  margin-top: -10px;
  margin-left: 19px;
}

.video-container{
    position: relative;

}

video{
    height: auto;
    vertical-align: middle;
    width: 100%;
}

.overlay-desc{
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 100px;
    padding-bottom: 200px ;
}

h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    position: absolute;
    padding-bottom: 40px;
}

h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: absolute;
    margin: 185px 0px 35px 0px;
}

.button4 {border-radius: 12px;}

.button {
    background-color: rgb(0, 255, 0); 
    border: none;
    color: white;
    padding: 12px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 320px 0px 33px -4px;
    cursor: pointer;
    position: absolute;
    
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 20px 144px;
    overflow: hidden;
    background-color: #1a1a1a;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 45px 50px;
    text-decoration: none;
    
  }
  
  li a:hover:not(.active) {
    background-color: #00cc00;
   
  }
  
  .active {
    background-color: #fe0000;
  }
  
  nav {
    display: flex;
    width: 100%;
    height: 66px;
    background: black;
    overflow: auto;
   
}

.main{
  display: flex;
}

.col{
  background-color: rgb(0, 0, 0);
  width: 70%;
  /* height: 500vh; */
  display: flex;
}

.col1{
  background-color: yellowgreen;
  width: 30%;
  /* height: 500vh; */
}

.row{
  background-color: rgb(0, 0, 0);
  width: 70%;
  height: 76vh;
  
}

.row1{
  background-color: rgb(0, 0, 0);
  width: 30%;
  height: 76vh;
}

.row2 {
  margin-top: 20px;
  margin-left: -23px;
  margin-right: auto;
  background-color: thistle;
  width: 75%;
  height: 150px;
}

.row3 {
  margin-top: 20px;
  margin-left: -23px;
  margin-right: auto;
  background-color: thistle;
  width: 75%;
  height: 150px;
}


.row4 {
  margin-top: 20px;
  margin-left: -23px;
  margin-right: auto;
  background-color: thistle;
  width: 75%;
  height: 150px;
}

.row5 {
  margin-top: -173%;
  margin-left: 210px;
  margin-right: auto;
  background-color: thistle;
  width: 75%;
  height: 150px;
}

.row6 {
  margin-top: 190px;
  margin-left: 211px;
  margin-right: auto;
  background-color: thistle;
  width: 75%;
  height: 150px;
}

.row7 {
  margin-top: -113%;
  margin-left: 211px;
  margin-right: auto;
  background-color: thistle;
  width: 75%;
  height: 150px;
}

.row8 {
  margin-top: -319px;
  margin-left: 447px;
  margin-right: auto;
  background-color: thistle;
  width: 75%;
  height: 150px;
}

.row9 {
  margin-top: 23px;
  margin-left: 447px;
  margin-right: auto;
  background-color: thistle;
  width: 75%;
  height: 150px;
}

.row10 {
  margin-top: 18px;
  margin-left: 447px;
  margin-right: auto;
  background-color: thistle;
  width: 75%;
  height: 150px;
}


.box{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: thistle;
  width: 87%;
  height: 486px;
}


.sbox1{
  margin-top: 581px;
  margin-left: 3%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 194px;
  position: absolute;
}

.sbox2{
  margin-top: 581px;
  margin-left: 18%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 194px;
  position: absolute;

}

.sbox3{
  margin-top: 581px;
  margin-left: 33%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 194px;
  position: absolute;

}

.sbox4{
  margin-top: 581px;
  margin-left: 48%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 194px;
  position: absolute;
}

.sbox5{
  margin-top: 787px;
  margin-left: 3%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 194px;
  position: absolute;
}

.sbox6{
  margin-top: 790px;
  margin-left: 18%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 194px;
  position: absolute;

}

.sbox7{
  margin-top: 790px;
  margin-left: 33%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 194px;
  position: absolute;

}

.sbox8{
  margin-top: 790px;
  margin-left: 48%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 194px;
  position: absolute;
}

.sbox9{
  margin-top: 1079px;
  margin-left: 3%;
  margin-right: auto;
  background-color: thistle;
  width: 280px;
  height: 175px;
  position: absolute;
}

.sbox10{
  margin-top: 1079px;
  margin-left: 24.5%;
  margin-right: auto;
  background-color: thistle;
  width: 280px;
  height: 175px;
  position: absolute;

}

.sbox8a{
  margin-top: 790px;
  margin-left: 63%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 194px;
  position: absolute;
}

.sbox8b{
  margin-top: 790px;
  margin-left: 78%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 194px;
  position: absolute;
}

.sbox4a{
  margin-top: 581px;
  margin-left:63%; 
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 194px;
  position: absolute;
}

.sbox4b{
  margin-top: 581px;
  margin-left: 78%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 194px;
  position: absolute;
}

.sbox11{
  margin-top: 1079px;
  margin-left: 46%;
  margin-right: auto;
  background-color: thistle;
  width: 280px;
  height: 175px;
  position: absolute;

}

.sbox12{
  margin-top: 1277px;
  margin-left: 3%;
  margin-right: auto;
  background-color: thistle;
  width: 280px;
  height: 175px;
  position: absolute;
}

.sbox13{
  margin-top: 1277px;
  margin-left: 24.5%;
  margin-right: auto;
  background-color: thistle;
  width: 280px;
  height: 175px;
  position: absolute;

}

.sbox14{
  margin-top: 1277px;
  margin-left: 46%;
  margin-right: auto;
  background-color: thistle;
  width: 280px;
  height: 175px;
  position: absolute;
 
}

.sbox14a{
  margin-top: 1277px;
  margin-left: 68%;
  margin-right: auto;
  background-color: thistle;
  width: 280px;
  height: 175px;
  position: absolute;
 
}

.sbox14b{
  margin-top: 1079px;
  margin-left: 68%;
  margin-right: auto;
  background-color: thistle;
  width: 280px;
  height: 175px;
  position: absolute;
 
}


.sbox15{
  margin-top: 1559px;
  margin-left: 3%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox16{
  margin-top: 1559px;
  margin-left: 18%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;

}

.sbox17{
  margin-top: 1559px;
  margin-left: 33%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;

}

.sbox18{
  margin-top: 1559px;
  margin-left: 48%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox18a{
  margin-top: 1559px;
  margin-left: 63%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox18b{
  margin-top: 1559px;
  margin-left: 78%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}


.sbox19{
  margin-top: 1764px;
  margin-left: 3%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox20{
  margin-top: 1764px;
  margin-left: 18%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;

}

.sbox21{
  margin-top: 1764px;
  margin-left: 33%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;

}

.sbox22{
  margin-top: 1764px;
  margin-left: 48%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox23{
  margin-top: 1764px;
  margin-left: 63%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox24{
  margin-top: 1764px;
  margin-left: 78%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox25{
  margin-top: 152%;
  margin-left: 3%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox26{
  margin-top: 152%;
  margin-left: 18%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;

}

.sbox27{
  margin-top: 152%;
  margin-left: 33%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;

}

.sbox28{
  margin-top: 152%;
  margin-left: 48%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox28a{
  margin-top: 152%;
  margin-left: 63%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox28b{
  margin-top: 152%;
  margin-left: 78%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}


.sbox29{
  margin-top: 167%;
  margin-left: 3%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox30{
  margin-top: 167%;
  margin-left: 18%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;

}

.sbox31{
  margin-top: 167%;
  margin-left: 33%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;

}

.sbox32{
  margin-top: 167%;
  margin-left: 48%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox33{
  margin-top: 167%;
  margin-left: 63%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox34{
  margin-top: 167%;
  margin-left: 78%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox35{
  margin-top: 189%;
  margin-left: 3%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox36{
  margin-top: 189%;
  margin-left: 18%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;

}

.sbox37{
  margin-top: 189%;
  margin-left: 33%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;

}

.sbox38{
  margin-top: 189%;
  margin-left: 48%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox38a{
  margin-top: 189%;
  margin-left: 63%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox38b{
  margin-top: 189%;
  margin-left: 78%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}


.sbox39{
  margin-top: 204%;
  margin-left: 3%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox40{
  margin-top: 204%;
  margin-left: 18%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;

}

.sbox41{
  margin-top: 204%;
  margin-left: 33%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;

}

.sbox42{
  margin-top: 204%;
  margin-left: 48%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox43{
  margin-top: 204%;
  margin-left: 63%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox44{
  margin-top: 204%;
  margin-left: 78%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox45{
  margin-top: 226%;
  margin-left: 3%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox46{
  margin-top: 226%;
  margin-left: 18%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;

}

.sbox47{
  margin-top: 226%;
  margin-left: 33%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;

}

.sbox48{
  margin-top: 226%;
  margin-left: 48%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox48a{
  margin-top: 226%;
  margin-left: 63%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox48b{
  margin-top: 226%;
  margin-left: 78%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}


.sbox49{
  margin-top: 241%;
  margin-left: 3%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox50{
  margin-top: 241%;
  margin-left: 18%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;

}

.sbox51{
  margin-top: 241%;
  margin-left: 33%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;

}

.sbox52{
  margin-top: 241%;
  margin-left: 48%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox53{
  margin-top: 241%;
  margin-left: 63%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.sbox54{
  margin-top: 241%;
  margin-left: 78%;
  margin-right: auto;
  background-color: thistle;
  width: 180px;
  height: 180px;
  position: absolute;
}

.footer{
  width: 100%;
  height: 150px;
  background-color: rgb(71, 71, 70);
  margin: 226% 0 0 0;
  opacity: 50%;
  padding-bottom: 217px;
  position: absolute;
}

.logobox{
  /* background-color: yellow; */
  width: 149px;
  height: 60px;
  margin: 230% 20px -22px 43%;
  position: absolute;
}

.socialmedia{
  position: absolute;
  margin: 238% 0 0 37%;
  /* background-color: yellow; */
  width: 316px;
  height: 44px;
}

.to-top{
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  display: flex;
}

.arrowup{
  width: 50px;
  transition: .5s;
  z-index: 550000;
}

.to-tap.active{
  pointer-events: auto;
  opacity: 20%;
}

html{
  scroll-behavior: smooth;
}